<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/"> Home </a>
      <a href="/create" class="active">Create</a>
    </div>
    <form action="/create-user" class="form" method="post">
      <fieldset>
        <legend>Form add new users</legend>
        <div class="form__group">
          <label for="">
            Email:
            <input type="text" name="email" />
          </label>
        </div>
        <div class="form__group">
          <label for="">
            Name:
            <input type="text" name="name" />
          </label>
        </div>
        <div class="form__group">
          <label for="">
            City:
            <input type="text" name="city" />
          </label>
        </div>
        <button>Save</button>
      </fieldset>
    </form>
  </body>
</html>
;
