<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form action="/delete-user" class="form" method="post">
      <fieldset>
        <legend>Form add new users</legend>
        <input type="text" value="<%=user.id %>" name="id" hidden />
        <div class="form__group">
          <label for="">
            Are you sure delete with user email:
            <input type="text" value="<%=user.email %>" />
          </label>
        </div>
        <button>Confirm</button>
      </fieldset>
    </form>
  </body>
</html>
